body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

.jumbotron {
    background-image: url("image/foodtruck.jpg");
    text-align: center;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.wrapper {
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
   /* background-image: url("image/foodtruck.jpg");
    background-repeat: no-repeat, repeat;*/
}

/*.box0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-left: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 2rem;
    background-image: url("image/foodtruck.jpg");
    background-repeat: no-repeat, repeat;
}*/
.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    border-left: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 2rem;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top: 5px solid #68a895;
    border-left: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}

.box4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    border-top: 5px solid #68a895;
    border-left: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}
.box6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 5px solid #68a895;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}

/*modify search*/
.box7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}

/*modify datalist entry*/
.box8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    border-right: 5px solid #68a895;
    border-bottom: 5px solid #68a895;
    padding: 1rem;
}